<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>

		<!-- 3rd party dependencies -->
		<script src="/javascripts/jquery-3.2.1.min.js"></script>
		<script src="/javascripts/jquery-ui-1.12.1.min.js"></script>
		<script src="/javascripts/bootstrap-3.3.7.min.js"></script>
		<script src="/javascripts/datepicker-pt-BR.js"></script>

		<link rel="stylesheet" href="/stylesheets/jquery-ui-1.12.1.min.css"/>
		<link rel="stylesheet" href="/stylesheets/bootstrap-3.3.7.min.css"/>
		<link rel="stylesheet" href="/stylesheets/font-awesome-4.7.0.min.css"/>

		<!-- 1st party dependencies-->
		<link rel="stylesheet" href="/stylesheets/style.css"/>
		<script src="/javascripts/script.js"></script>
	</head>
	<body>
		<div class="header">
			<div>
				<h1><%= title %></h1>
			</div>
			<div>
				<span id="time-and-date"></span>
				<button id="refresh-products" class="btn btn-default" data-toggle="modal" data-target="#refreshing-products">Atualizar produtos</button>
				<button class="btn btn-primary" data-toggle="modal" data-target="#new-bidding"><%= new_bidding %></button>
			</div>
		</div>

		<h3 class="section-title">Em andamento</h3>

		<table id="table-1" class="table">
			<tr>
				<td><b>#</b></td>
				<td><b><%= name %></b></td>
				<td><b><%= applicant %></b></td>
				<td><b>Início</b></td>
				<td><b>Fim</b></td>
				<td><b>Produtos</b></td>
				<td><b>Valor do menor lance</b></td>
				<td><b>Fornecedor</b></td>
				<td><b>Ações</b></td>
			</tr>

			<% for(var i = 0; i < biddings.length; i++) { %>
			<% if(biddings[i].status == 1) { %>
			<tr>
				<td><%= biddings[i].id %></td>
				<td><%= biddings[i].name %></td>
				<td><%= biddings[i].applicant %></td>
				<td><%= biddings[i].start_date %></td>
				<td><%= biddings[i].end_date %></td>
				<td><% for(var j = 0; j < biddings[i].products.length; j++) { %>
				<p><%= biddings[i].products[j].quantity %> <%= biddings[i].products[j].product_name %></p>
				<% } %></td>
				<td>
					<% if(typeof biddings[i].lowestBid != "undefined") {%>
					R$ <%= biddings[i].lowestBid.value %>
					<% } else { %>
					-
					<% } %>
				</td>
				<td>
					<% if(typeof biddings[i].lowestBid != "undefined") {%>
					<%= biddings[i].lowestBid.supplier %>
					<% } else { %>
					-
					<% } %>
				</td>
				<td>
					<button class="btn btn-default btn-circle check-bid" data-toggle="modal" data-id="<%= biddings[i].id %>" data-target="#checking-bids"><i class="fa fa-eye"></i></button>
					<button class="btn btn-default btn-circle cancel-bidding" data-toggle="modal" data-id="<%= biddings[i].id %>" data-target="#cancel-bidding"><i class="fa fa-close"></i></button>
				</td>
			</tr>
			<% } %>
			<% } %>
		</table>

		<h3 class="section-title">Concluídas</h3>
		
				<table id="table-0" class="table">
					<tr>
						<td><b>#</b></td>
						<td><b><%= name %></b></td>
						<td><b><%= applicant %></b></td>
						<td><b>Início</b></td>
						<td><b>Fim</b></td>
						<td><b>Produtos</b></td>
						<td><b>Valor do menor lance</b></td>
						<td><b>Fornecedor</b></td>
						<td><b>Ações</b></td>
					</tr>
		
					<% for(var i = 0; i < biddings.length; i++) { %>
					<% if(biddings[i].status == 2) { %>
					<tr>
						<td><%= biddings[i].id %></td>
						<td><%= biddings[i].name %></td>
						<td><%= biddings[i].applicant %></td>
						<td><%= biddings[i].start_date %></td>
						<td><%= biddings[i].end_date %></td>
						<td><% for(var j = 0; j < biddings[i].products.length; j++) { %>
						<p><%= biddings[i].products[j].quantity %> <%= biddings[i].products[j].product_name %></p>
						<% } %></td>
						<td>
							<% if(typeof biddings[i].lowestBid != "undefined") {%>
							R$ <%= biddings[i].lowestBid.value %>
							<% } else { %>
							-
							<% } %>
						</td>
						<td>
							<% if(typeof biddings[i].lowestBid != "undefined") {%>
							<%= biddings[i].lowestBid.supplier %>
							<% } else { %>
							-
							<% } %>
						</td>
						<td>
							<button class="btn btn-default btn-circle check-bid" data-toggle="modal" data-id="<%= biddings[i].id %>" data-target="#checking-bids"><i class="fa fa-eye"></i></button>
						</td>
					</tr>
					<% } %>
					<% } %>
				</table>

		<h3 class="section-title">Canceladas</h3>

		<table id="table-0" class="table">
			<tr>
				<td><b>#</b></td>
				<td><b><%= name %></b></td>
				<td><b><%= applicant %></b></td>
				<td><b>Início</b></td>
				<td><b>Fim</b></td>
				<td><b>Produtos</b></td>
				<td><b>Valor do menor lance</b></td>
				<td><b>Fornecedor</b></td>
				<td><b>Ações</b></td>
			</tr>

			<% for(var i = 0; i < biddings.length; i++) { %>
			<% if(biddings[i].status == 0) { %>
			<tr>
				<td><%= biddings[i].id %></td>
				<td><%= biddings[i].name %></td>
				<td><%= biddings[i].applicant %></td>
				<td><%= biddings[i].start_date %></td>
				<td><%= biddings[i].end_date %></td>
				<td><% for(var j = 0; j < biddings[i].products.length; j++) { %>
				<p><%= biddings[i].products[j].quantity %> <%= biddings[i].products[j].product_name %></p>
				<% } %></td>
				<td>
					<% if(typeof biddings[i].lowestBid != "undefined") {%>
					R$ <%= biddings[i].lowestBid.value %>
					<% } else { %>
					-
					<% } %>
				</td>
				<td>
					<% if(typeof biddings[i].lowestBid != "undefined") {%>
					<%= biddings[i].lowestBid.supplier %>
					<% } else { %>
					-
					<% } %>
				</td>
				<td>
					<button class="btn btn-default btn-circle check-bid" data-toggle="modal" data-id="<%= biddings[i].id %>" data-target="#checking-bids"><i class="fa fa-eye"></i></button>
				</td>
			</tr>
			<% } %>
			<% } %>
		</table>

		<!-- New bidding modal -->
		<div id="new-bidding" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title"><%= new_bidding %></h4>
					</div>
					<div class="modal-body">
						<p><label><%= name %></label>
						<input id="name" type="text" placeholder="<%= name_placeholder %>" autocomplete="off"></p>
						<p><label><%= applicant %></label>
						<input id="applicant" type="text" placeholder="<%= applicant_placeholder %>" autocomplete="off"></p>
						<p><label><%= start_date %></label>
						<input id="start_date" type="text" placeholder="<%= start_date_placeholder %>" autocomplete="off"></p>
						<p><label><%= end_date %></label>
						<input id="end_date" type="text" placeholder="<%= end_date_placeholder %>" autocomplete="off"></p>
						<p><label><%= products_label %></label>
						<div id="products">
							<div class="dropdown" id="dropdown-1">
								<input class="quantity" type="text" placeholder="Qntd" autocomplete="off">
								<button id="product-1" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><%= select %></button>
								<ul class="dropdown-menu">
								<% for(var p = 0; p < products.length; p++) { %>
									<li><a onclick="change_name(this, '<%= products[p].name %>')"><%= products[p].name %></a></li>
								<% } %>
								</ul>
								<a onclick="new_product()"><i class="fa fa-plus-square"></i></a>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal"><%= cancel %></button>
						<button id="confirm" type="button" class="btn btn-success" data-dismiss="modal"><%= confirm %></button>
					</div>
				</div>
			</div>
		</div>

		<!-- Refreshing products modal -->
		<div id="refreshing-products" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body text-center">
						<h4><%= refreshing_products %></h4>

						<center>
						<div class="lds-css ng-scope">
								<div class="lds-dual-ring">
									<div></div>
								</div>
						</div>
						</center>

						<p><%= page_will_reload %></p>
					</div>
				</div>
			</div>
		</div>

		<!-- Checking bids modal -->
		<div id="checking-bids" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Lances</h4>
					</div>
					<div class="modal-body" id="bids-body">
						<!-- jQuery will add stuff here -->
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Cancel bidding modal -->
		<div id="cancel-bidding" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Confirmação</h4>
					</div>
					<div class="modal-body">
						<p>Você tem certeza que deseja cancelar essa licitação? <b>Essa ação é irreversível.</b></p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
						<button id="confirm-cancellation" type="button" class="btn btn-danger" data-dismiss="modal">Sim</button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
